.user {
   padding:10px;
   background-color: #ececec;
   margin-bottom: 4px;
}
.ws-failed {
   border: 1px solid red;
   color:red;
}

.wires-overlay {
   z-index: 990;
   position: absolute;
   top:0;
   left:0;
   margin: 0;
   width: 100%;
   height: 100%;
   background-color: black;
   opacity: 0.1;
   filter: alpha(opacity=40); /* For IE8 and earlier */
}

.wires-modal {
   z-index: 999;
   padding: 10px;
   border: 1px solid #ececec;
   position: absolute;
   left: 50%;
   display: flex;

   top: 50%;
   background-color: white;
   transform: translate(-50%, -50%);
   width: 50%;
   height: 100px;
}
.wires-modal .contents {

   width: 100%;
   height: 100%;
   display: flex;
   flex-shrink: 0;
}
.wires-modal .contents .description {
   height: auto;
   text-align: center;
   width: 100%;
   max-width: 100%;
   flex: 1 100%;
}
.wires-modal .contents .actions {
	width: 100%;
   flex: 1 100%;
   max-width: 100%;
   align-self: flex-end;


}
