
<div class="btn btn-primary" click="act.toggle('showQuote')">Click me</div>


<table width="100%">
<tr>
<td width="50%">
	<blockquote visible="$showQuote" animation="fade">
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
	  <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
	</blockquote>
</td>

<td>
	<blockquote visible="$showQuote" animation="slide">
	  <p>Ja Pukka Sukka ja rakkaus ja jumala kukkana kakkkana, Noh mita kukka rakkana paakaana.</p>
	  <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
	</blockquote>

</td>
</tr>
</table>



