<h1>$singleItem.name</h1>
<input type="checkbox" value="$selectAll">
<input type="button" value="'order'" click="this.sortIt()">
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>x</th>
            <th>priority</th>
            <th>First Name</th>
            <th>Duplicate "each" for record</th>
        </tr>
    </thead>
    <tbody>
        <tr ws-repeat="$item in $items">
            <th><input type="checkbox" ws-value="$item.selected"></th>
            <td>$item.id</td>
            <td>$item.priority </td>
            <td><i class="glyphicon glyphicon-remove" ws-click="this.item.remove()"></i></td>
            <td ws-click="this.item.fetchMany('users');setTimeout(function(){console.log(this.item.users) }.bind(this),1000 )">$item.name
                 
                   <div ws-repeat="$user in $item.users">$user.name</div>
                 </td>
            <td>
                 <input type="text" ws-value="$item.name"/>
                 <input type="button" value="save" ws-click="this.item.save()">
            </td>
        </tr>
    </tbody>
</table>

<hr>
$newitem._errors.size
<form ws-submit="this.newitem.create()">
    <input type="text" ws-value="$newitem.name">
    <input type="submit" ws-value="'submit'">
    
   
    <div ws-repeat="$error in $newitem._errors">$error.message</div>
   
    
</form>
<hr>




