<select class="form-control" ws-value="$opinion">
                    <option ws-repeat="$item in $list" ws-selected="$parent.opinion === $item">$item </option>
                </select>
                
<h1>Forms</h1>

<div class="row">
	<div class="col-md-6">
		<form role="form" ws-submit="this.addUser()">
			<div class="form-group">
				<label for="exampleInputEmail1">Email address</label> <input
					type="text" class="form-control" ws-value="$email"
					id="exampleInputEmail1" placeholder="Enter email">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Password</label> <input
					type="password" class="form-control" ws-value="$password"
					id="exampleInputPassword1" placeholder="Password">
			</div>

			<div class="form-group">
				<label>Textarea</label>
				<textarea class="form-control" ws-value="$textarea"></textarea>
			</div>
			<div class="form-group">
				<div class="checkbox">
					<label> <input type="checkbox" ws-value="$checkme">
						Check me out
					</label>
				</div>
				<div class="checkbox">
                    <label> <input type="checkbox" ws-value="$checkme">
                        Check me out (same var)
                    </label>
                </div>
			</div>
			
			<div class="form-group">
			<label> 
                       Opinion
                    </label>
				<select class="form-control" ws-value="$opinion">
					<option ws-repeat="$item in $list" ws-selected="$parent.opinion === $item">$item </option>
				</select>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>




		</form>

	</div>
	<div class="col-md-6">

		<div>
			<div class="lead" ws-visible="$submitPressed" ws-animation="fade">Form
				submitted</div>
			<div>Email: $email</div>
			<div>Password: $password</div>
			<div>Textarea: $textarea</div>
			<div>Check me out: {# $checkme ? 'true' : 'false' #}</div>
			<div>Opinion: $opinion</div>

		</div>
	</div>
</div>
