<form submit="this.search()">
    <input type="text" value="$searchName"/> $searchName
</form>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>x</th>
            <th>First Name</th>
            <th>Duplicate "each" for record</th>
        </tr>
    </thead>
    <tbody >
        <tr repeat="$user in $users">
            <td> $user.id</td>
            <td><i class="glyphicon glyphicon-remove" click="this.parent.remove(this)"></i></td>
            <td>$user.name</td>
            <td>
                 <input type="text" value="$user.name"/>
                 
            </td>
        </tr>
    </tbody>
</table>

<div click="this.users.removeWhere({id : 13})">test</div>






<h4>new tag</h4>
<form submit="this.addTag()">
<input type="text" value="$newtag">
</form>

<h4>New user</h4>
<form submit="this.addUser()">
<input type="text" value="$newuser">
</form>



