<section style="margin-top:50px">
   <a href="#" ws-href="/animation">TEST</a>
   <h1>$data.name ($data)</h1>
   <input type="text" ws-value="$data.name"/>
   <hr>

   <select  ws-value="$data.selected">
      <option ws-repeat="$item in $dates" ws-value="$item.value">$item.value</option>
   </select>
   <hr>
   <h1>SELECTED $data.selected</h1>
   <h1>$data.myCheckbox</h1>


   <input ws-checked="$data.myCheckbox" ws-value="$data.myCheckbox" type="checkbox" />




 <input type="button" value="change" ws-click="{{ $change() }}">
</section>
