<div class="week-calendar-container" ws-drag="{{ $onDrag(target) }}">

        <div class="week-calendar-month">
            <span class="previous" ng-click="prevWeek();"></span>
            <span class="month ng-binding" colspan="5">July 2015</span>
            <span class="next" ng-click="nextWeek();"></span>
        </div>

        <div class="week-calendar-th">
            <div class="th" ws-repeat="$weekday in $weekdays">
                <span class="weekday ng-binding">$weekday.title</span><span class="day">$weekday.day</span>
            </div>
        </div>


        <div class="week-calendar-scrollable-area">
            <div class="week-calendar-hour-column">
               <div class="week-calendar-hour-stamp"></div>
               <div class="week-calendar-hour-stamp" ws-repeat="$item in $hours">$index</div>
            </div>

            <div ws-repeat="$weekday in $weekdays" class="week-calendar-day">
               <div class="week-calendar-slot" ws-repeat="$slot in $parent.slots"></div>


               <div ws-repeat="$av in $weekday.available" class="week-calendar-available" style="height:${av.height}px; top: ${av.top}px; position:absolute;">
                  <a class="week-calendar-edit-booking-start week-booking-mutator"></a>
                  <p>$av.time</p>
                  <a class="week-calendar-edit-booking-end week-booking-mutator"></a>
               </div>

            </div>
        </div>
    </div>
