<a href="#" ws-href="/kukka">KUKKA</a>
<h1>Forms $some.name</h1>
<input type="text" ws-value="$some.name"/>
<table width="100%">
   <tr>
      <td valign="top" width="400" style="border:1px solid #ececec;padding:10px">


         <form ws-submit="{{ $create() }}" ws-class="{{ { 'ivan' : $form.name === 'ivan' } }}">
            <input type="text" ws-value="$form.name"/>



            <div>
               Age is $form.age.number
            </div>
            <select ws-value="$form.age">
               <option ws-repeat="$age in $ages" ws-value="$age">$age.age</option>
            </select>
            <hr>
            <div>
               <input type="submit" value="add"/>
            </div>
            <div style="color:red" ws-visible="$form.$err">
               $form.$err
            </div>

            <!-- Checkboxes and array list -->
            <hr>
            <div>Checkboxes list</div>
            <div ws-repeat="$item in $items">
               <input type="checkbox" ws-value="$item.id" ws-checked="$parent.form.ids"> $item.title
            </div>
            <div style="padding:3px; border:1px solid gray">
               Selected values:
               <ul>
                  <li ws-repeat="$id in $form.ids">$id</li>
               </ul>
            </div>


            <hr>
            <div>Checkboxes true/false</div>

            <input type="checkbox" ws-value="$agree" ws-checked="$form.agree">I agree ($agree)
            <div>
               <span ws-if="{{ !$agree}}" style="color:red">You must agree</span>
            </div>




         </form>

      </td>
      <td valign="top" style="border:1px solid #ececec; padding:10px;">

         <div>
            <div ws-repeat="$user in $users">
               $user.name (<a href="#" ws-click="{{ $user.$remove() }}">remove</a>)
            </div>
         </div>

      </td>
   </tr>
</table>
